<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19808031060-v0f24vlul4smv4jn4nk2soegf8q0ovsu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19808031060-v0f24vlul4smv4jn4nk2soegf8q0ovsu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>19808031060-4dpqtom1p14b59nlqspg6ihmbl8uumto.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAewuUaR8jPJBfQcnioNen1XutvMv_5F-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>19808031060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.tortoiseLog</string>
	<key>PROJECT_ID</key>
	<string>tortoiselog</string>
	<key>STORAGE_BUCKET</key>
	<string>tortoiselog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19808031060:ios:ea6d54e4cab1fbceb278c1</string>
</dict>
</plist>